<template>
  <v-dialog v-model="visible" persistent max-width="400">
    <v-card>
      <v-card-title>¿Estas seguro que deseas cancelar el pedido?</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="6">
            <v-btn block color="error" @click="cancel">Aún no</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="success" @click="confirm(name)">Confirmar</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "../static/bus";

export default {
  props:['visible', 'name'],
  methods:{
    // emite un evento para cerrar el dialogo de confirmacion
    cancel(){
      EventBus.$emit("closeCancelOrder");
    },
    // emite un evento para confirmar y cerrar el dialogo de confirmacion
    confirm(name){
      EventBus.$emit("confirmCancelOrder", name);
    }
  },
  mounted() {
		// emite un evento para detectar la tecla ESC
		document.addEventListener("keydown", event => {
			const keyWhich = event.which;
			if (keyWhich === 27) {
				this.cancel();
			}
		});
	}
}
</script>
