<template>
  <div>
    <v-card class="mx-auto" max-width="400">
      <v-img :src="product.photo" class="white--text align-end" height="200px"></v-img>
      <v-card-title>{{ product.name }}</v-card-title>
      <v-card-text>
        <v-row>
          <p>{{ product.description }}</p>
        </v-row>
        <v-row justify="space-around">
          <div>
            <v-btn icon :disabled="product.count < 2" @click="reduceProductOrder(product.name)"><v-icon small>mdi-minus</v-icon></v-btn>
  				  <span class="mt-2 body-1">{{ product.count }}</span>
            <v-btn class="pb-1" icon @click="increaseProductOrder(product.name)"><v-icon small>mdi-plus</v-icon></v-btn>
          </div>
          <span class="mt-1">Total: ${{ product.total }}.00</span>
          <v-btn color="red" @click="cancel(product.name)">Cancelar</v-btn>
        </v-row>
      </v-card-text>
    </v-card>
    <CancelOrder :visible="showCancelOrder" :name="product.name" />
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { EventBus } from "../static/bus";
import CancelOrder from "@/components/CancelOrder";

export default {
  props:['product'],
  data:() => ({
    showCancelOrder: false,
  }),
  components:{ CancelOrder },
  methods:{
    ...mapMutations(['increaseProductOrder', 'reduceProductOrder', 'cancelProduct']),
    // funcion que muestra el dialogo de confirmación
    cancel(name){
      this.showCancelOrder = true;
    }
  },
  mounted() {
    // captura del evento para cerrar el dialogo al cancelar
    EventBus.$on("closeCancelOrder",() => {
      this.showCancelOrder = false;
    });

    // captura del evento para cerrar el dialogo al confirmar
    EventBus.$on("confirmCancelOrder",name => {
      this.showCancelOrder = false;
      this.cancelProduct(name);
    });
	}
}
</script>
