<template>
  <div>
    <v-dialog v-model="visible" persistent max-width="400">
      <v-card>
        <v-card-title>Editar datos</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="8">
              <v-text-field prepend-icon="mdi-grease-pencil" label="Nombre" type="text" v-model="product.name" />
            </v-col>
            <v-col cols="4">
              <v-text-field label="Precio" prefix="$" type="number" min="0" v-model="product.price" />
            </v-col>
            <v-col cols="12">
              <v-textarea outlined label="Descripción" v-model="product.description" />
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="6">
              <v-btn :loading="loading" :disabled="loading" color="success" block @click="update()">Confirmar</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { EventBus } from "../static/bus";
import { mapMutations } from "vuex";

export default {
  props:['visible', 'product'],
  data: () => ({
    loading: false,
    showSnack: false
  }),
  methods:{
    ...mapMutations(['updateProduct']),
    // llama la mutation para actualizar los datos
    update(){
      this.loading = true;
      setTimeout(() => {
        this.updateProduct(this.product);
        this.loading = false;
        this.closeEdit();
      }, 2000)
    },
    // cierra el dialogo de la edicion
    closeEdit(){
      EventBus.$emit("closeEdit");
    }
  },
  mounted(){
    // emite un evento para detectar la tecla ESC
		document.addEventListener("keydown", event => {
			const keyWhich = event.which;
			if (keyWhich === 27) {
        this.closeEdit();
			}
		});
  }
}
</script>}
