<template>
  <v-dialog v-model="visible" width="800" persistent>
    <v-card>
      <v-toolbar>
        <v-btn icon @click="closeWindow"><v-icon>mdi-close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-img :src="image" aspect-ratio="1.6"></v-img>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "../static/bus";

export default {
  props:["visible", "image"],
  methods:{
    // funcion que emite un evento para cerrar el dialogo de la imagen
    closeWindow(){
      EventBus.$emit("closeImage");
    }
  },
  mounted() {
		// emite un evento para detectar la tecla ESC
		document.addEventListener("keydown", event => {
			const keyWhich = event.which;
			if (keyWhich === 27) {
				this.closeWindow();
			}
		});
	}
}
</script>
