<template>
  <div>
    <v-snackbar v-model="showSnack" top rounded="pill" color="error">
      <span class="headline">Usuario incorrecto</span>
    </v-snackbar>
    <v-dialog v-model="visible" persistent max-width="400">
      <v-card>
        <v-card-title>Inicio de sesión</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field label="Usuario" type="text" v-model="user.name" prepend-icon="mdi-account" />
            </v-col>
            <v-col cols="12">
              <v-text-field label="Usuario" type="password" v-model="user.pass" prepend-icon="mdi-lock" />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-btn color="error" block @click="closeLogin">Cancelar</v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn :disabled="loading" :loading="loading" color="success" block @click="confirm">Ingresar</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { EventBus } from "../static/bus";
import { mapMutations, mapState } from "vuex";

export default {
  props:['visible'],
  data:() => ({
    loading: false,
    showSnack: false,
    user:{
      name:"",
      pass:""
    }
  }),
  computed:{
    ...mapState(['userState'])
  },
  methods:{
    ...mapMutations(['changeLogged']),

    // función que cierra el dialogo del login
    closeLogin(){
      EventBus.$emit("closeLogin");
      this.user.name = "";
      this.user.pass = "";
    },

    // función que hace la lógica para iniciar sesión
    confirm(){
      this.loading = true;
      if(this.user.name === this.userState.name && this.user.pass === this.userState.pass){
        setTimeout(() => {
          this.changeLogged(true);
          this.loading = false;
          this.closeLogin();
        }, 2000)
      }else{
        setTimeout(() => {
          this.loading = false;
          this.showSnack = true;
          setTimeout(() => {
            this.showSnack = false;
          }, 2000)
        },2000);
      }
    },
  },
  mounted(){
    // emite un evento para detectar la tecla ESC
		document.addEventListener("keydown", event => {
			const keyWhich = event.which;
			if (keyWhich === 27) {
				this.closeLogin();
			}
		});
  }
}
</script>
