<template>
  <client-only>
    <div>
      <v-data-table
        hide-default-footer
        :headers="headers"
        :items="products"
        :items-per-page="15">

         <!-- header de la tabla -->
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Menu</v-toolbar-title>
            <v-spacer></v-spacer>
            <span class="mr-2">Carrito de compras</span>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" :disabled="(shopCar > 0) ? false : true" to="/orden">
                  <v-badge overlap :value="(shopCar > 0) ? true : false" color="blue" :content="shopCar">
                    <v-icon>mdi-cart</v-icon>
                  </v-badge>
                </v-btn>
              </template>
              <span>Ir al carrito</span>
            </v-tooltip>
          </v-toolbar>
        </template>

        <!-- columna imagen de la tabla -->
        <template v-slot:item.photo="{ item }">
		  		<v-img id="photo" :src="item.photo" max-width="100" max-height="100" @click="expandImage(item.photo)"></v-img>
		  	</template>

        <!-- columna descripcion de la tabla -->
        <template v-slot:item.description="{ item }">
          <div id="desc">
            <span>{{ item.description }}</span>
          </div>
		  	</template>

        <!-- columna cantidad de la tabla -->
        <template v-slot:item.count="{ item }">
          <v-row class="mt-2" justify="space-around">
            <v-btn :disabled="item.count < 2" icon @click="reduceCount(item.name)">
              <v-icon small>mdi-minus</v-icon>
            </v-btn>
				    <span class="mt-2">{{ item.count }}</span>
            <v-btn icon @click="increaseCount(item.name)">
              <v-icon small>mdi-plus</v-icon>
            </v-btn>
          </v-row>
		  	</template>

        <!-- columna total de la tabla -->
        <template v-slot:item.total="{ item }">
          <span>${{ item.total }}.00</span>
		  	</template>

         <!-- columna carrito de la tabla -->
        <template v-slot:item.carrito="{ item }">
				  <v-tooltip bottom v-if="!logged">
				  	<template v-slot:activator="{ on }">
				  		<v-btn
				  			text
				  			icon
				  			v-on="on"
                @click="addToShopCar(item)">
				  				<v-icon>mdi-cart-plus</v-icon>
				  			</v-btn>
				  		</template>
				  	<span>Agregar al carrito</span>
				  </v-tooltip>

          <v-tooltip bottom v-else>
				  	<template v-slot:activator="{ on }">
				  		<v-btn
				  			text
				  			icon
				  			v-on="on"
                @click="openEdit(item)">
				  				<v-icon>mdi-pencil-outline</v-icon>
				  			</v-btn>
				  		</template>
				  	<span>Editar artículo</span>
				  </v-tooltip>
		  	</template>

      </v-data-table>
      <ImageModal :visible="showImage" :image="photo" />
      <EditForm :visible="showEdit" :product="copyProduct" />
    </div>
  </client-only>
</template>

<script>
  import { mapState, mapMutations } from "vuex";
  import { EventBus } from "../static/bus";
  import ImageModal from "@/components/ImageModal";
  import EditForm from "@/components/EditForm";

  export default {
    components:{ ImageModal, EditForm },
    data () {
      return {
        headers: [
          { text: "Imagen", value: "photo", sortable: false },
          { text: "Nombre", value: "name", sortable: false },
          { text: "Descripción", value: "description", sortable: false },
          { text: "Categoría", value: "category", sortable: false },
          { text: "Cantidad", value: "count", align: "center", sortable: false },
          { text: "Total", value: "total", sortable: false, align: "center" },
          { text: "Carrito", value: "carrito", sortable: false }
        ],
        showImage: false,
        photo: "",
        showEdit: false,
        copyProduct:{},
      }
    },
    computed:{
      ...mapState(['products','shopCar', 'logged'])
    },
    methods:{
      ...mapMutations(['increaseCount','reduceCount','addToShopCar']),
      // funcion que muestra el dialogo para visualizar la imagen
      expandImage(image){
        this.showImage = true;
        this.photo = image;
      },
      // funcion que abre el dialogo de edicion
      openEdit(product){
        this.copyProduct = product;
        this.showEdit = true;
      }
    },
    mounted(){
      // captura del evento para cerrar el dialogo de la imagen
      EventBus.$on("closeImage",() => {
        this.showImage = false;
      });

      EventBus.$on("closeEdit",() => {
        this.showEdit = false;
      });
    }
  }
</script>

<style scoped>
  #desc{
    width: 450px;
  }
  #photo{
    cursor: pointer;
  }
</style>
