<template>
  <v-app dark>

    <!-- toolbar sin usuario logeado -->
    <div v-if="!logged">
      <v-app-bar app>
        <v-toolbar>
          <v-toolbar-title class="headline">Restaurante: La Huasteca</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn text @click="showLogin = !showLogin">Iniciar sesión</v-btn>
        </v-toolbar>
      </v-app-bar>
      <v-main>
        <v-container>
          <nuxt />
        </v-container>
      </v-main>
    </div>

    <!-- toolbar con usuario logeado -->
    <div v-else>
      <v-app-bar app>
        <v-toolbar>
          <v-toolbar-title class="headline">Restaurante: La Huasteca</v-toolbar-title>
          <v-spacer></v-spacer>
          <span>Admin</span>
          <v-btn text>Editar menu</v-btn>
          <v-btn icon @click="changeLogged(false)">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </v-toolbar>
      </v-app-bar>
      <v-main>
        <v-container>
          <nuxt />
        </v-container>
      </v-main>
    </div>

    <LoginForm :visible="showLogin" />
  </v-app>
</template>

<script>
import { EventBus } from "../static/bus";
import LoginForm from "@/components/LoginForm";
import { mapState, mapMutations } from "vuex";

export default {
  components: { LoginForm },
  data () {
    return {
      showLogin: false
    }
  },
  computed:{
    ...mapState(['logged'])
  },
  methods:{
    ...mapMutations(['changeLogged'])
  },
  mounted(){
    EventBus.$on("closeLogin",() => {
      this.showLogin = false;
    });
  }
}
</script>
