<template>
  <Products/>
</template>

<script>
import Products from "@/components/Products";

export default {
  components:{ Products },
  head:{
    meta:[
      { hid: "description", name: "description", content: "Página de inicio del restaurante." }
    ]
  },
}
</script>
