<template>
  <div>
    <v-snackbar v-model="showThanks" top rounded="pill" color="success">
      <span class="headline">
        Gracias por su compra, su pedido va en camino.
      </span>
    </v-snackbar>
    <v-row justify="space-around">
      <h2>Su orden es:</h2>
      <h2>Cantidad a pagar: ${{ totalPrice }}.00</h2>
      <v-btn :loading="loading" :disabled="loading" color="success" @click="pay">
        <v-icon large left>mdi-currency-usd</v-icon>
        Confirmar
      </v-btn>
    </v-row>
    <v-row>
      <v-col cols="4" v-for="(product, index) of order" :key="index">
        <CardProduct :product="product" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import CardProduct from "@/components/CardProduct";
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  components:{ CardProduct },
  data: () => ({
    loading: false,
    showThanks: false
  }),
  methods:{
    ...mapMutations(['paySuccess']),

    pay(){
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
        this.showThanks = true;
        setTimeout(() => {
          this.showThanks = false;
          this.paySuccess();
        },2500);
      },2000)
    }
  },
  computed:{
    ...mapState(['order']),
    ...mapGetters(['totalPrice'])
  }
}
</script>
